#navigation {
  position: fixed;
  top: 0;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  margin: 0;
}

h3 {
  margin: 0;
}

.back-to-top {
  background: rgb(180, 180, 180);
  color: rgb(0, 0, 0);
  border: none;
}

.back-to-top:hover {
  cursor: pointer;
}

.back-to-top:active {
  border: none;
}

@media screen and (max-width: 600px) {
  #navigation {
    display: none;
  }
}
